<app-back-nav></app-back-nav>
<div class="column1">
<app-ins-nav-bar></app-ins-nav-bar>
</div>
<div class="column1">
<div class="main">
    <div class="row" >
        <table class="responsive-table highlight">
            <thead>
              <tr>
                <th>Customer</th>
                <th>Phone No</th>
                 <th>Date</th>
                 <th>Time</th>
                 
                 
                 <th></th>
              </tr>
            </thead>
            <tr *ngFor="let ins of UserProfileService.history">
              <td>{{ins.customer_name}}</td>
              <td>{{ins.tel}}</td>
              <td>{{ins.date}}</td>
              <td>{{ins.time}}</td>
              
              
              <td>
                  
                  <a class="action-btn">
                    <i class="material-icons" (click)="onDelete()">delete</i>
                  </a>
                </td>
            </tr>
          </table>
      </div></div></div>
<!--<app-ins-nav-bar></app-ins-nav-bar>-->
<!-- import footer comonent -->
<app-footer></app-footer>
