<app-navbar></app-navbar>

<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <div id="form-div" fxLayout="row" fxLayoutAlign="center" >        
        <form class="example-form">
          <!-- <mat-form-field class="example-full-width">
              <input matInput placeholder="Somiru Restuarant and Sports Club" disabled value="Personal Information">
          </mat-form-field> -->
        
          <table class="example-full-width" cellspacing="0"><tr>
              <mat-form-field>
                  <mat-label>Title</mat-label>
                  <select matNativeControl>
                    <!-- <optgroup > -->
                      <option value="volvo">Mr</option>
                      <option value="saab">Mrs</option>
                    <!-- </optgroup> -->
                  </select>
                </mat-form-field>
          </tr></table>

          <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width">
                  <input matInput placeholder="First name" required>
                </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Last name" required>
              </mat-form-field></td>
            </tr></table>
        
          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Email">
            </mat-form-field></td>
          </tr></table>

          <p>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Address" required></textarea>
            </mat-form-field>
          </p>
        
          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width">
              <input matInput #postalCode maxlength="10" placeholder="Phone number" value="" required>
              <mat-hint align="end">{{postalCode.value.length}} / 10</mat-hint>
            </mat-form-field></td>
          </tr></table>
        </form>
      </div>
      <!-- <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field> -->
      <div fxLayout="row" fxLayoutAlign="end" >
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <div id="form-div" fxLayout="row" fxLayoutAlign="center" >        
        <form class="example-form">
          <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Somiru Restuarant and Sports Club" disabled value="Reservation">
          </mat-form-field> -->
        
          <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field>
                  <mat-label>Type of table</mat-label>
                  <select matNativeControl>
                    <!-- <optgroup > -->
                      <option value="volvo">2 peron table</option>
                      <option value="saab">couple table</option>
                    <!-- </optgroup> -->
                  </select>
                </mat-form-field></td>

                <td><mat-form-field >
                    <mat-label>Perpose</mat-label>
                    <select matNativeControl>
                      <!-- <optgroup > -->
                        <option value="volvo">Meeting</option>
                        <option value="saab">Date</option>
                        <option value="saab">Other</option>
                      <!-- </optgroup> -->
                    </select>
                  </mat-form-field></td>

                  <td><mat-form-field>
                      <mat-label>Meal plan</mat-label>
                      <select matNativeControl>
                        <!-- <optgroup > -->
                          <option value="volvo">Breakfast</option>
                          <option value="saab">Lunch</option>
                          <option value="saab">Dinner</option>
                          <option value="saab">Other</option>
                        <!-- </optgroup> -->
                      </select>
                    </mat-form-field></td>
          </tr></table>

          <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field>
                  <mat-label>Time</mat-label>
                  <select matNativeControl>
                    <!-- <optgroup > -->
                      <option value="volvo">Mr</option>
                      <option value="saab">Mrs</option>
                    <!-- </optgroup> -->
                  </select>
                </mat-form-field></td>

                <td><mat-form-field>
                    <mat-label>Date</mat-label>
                    <select matNativeControl>
                      <!-- <optgroup > -->
                        <option value="volvo">Mr</option>
                        <option value="saab">Mrs</option>
                      <!-- </optgroup> -->
                    </select>
                  </mat-form-field></td>
              
          </tr></table>
    
          <table class="example-full-width" cellspacing="0"><tr>
            <td><p>
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Special"></textarea>
                </mat-form-field>
              </p></td>
          </tr></table>
        </form>
    </div>
      <div fxLayout="row" fxLayoutAlign="end" >
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <div fxLayout="row" fxLayoutAlign="center center" >
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div fxLayout="row" fxLayoutAlign="end" >
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
